
<ion-header>
  <ion-navbar>
    <ion-title>
      Password Safe
    </ion-title>
    <ion-buttons end>
        <button ion-button *ngIf="!isRegistered" (click)="registerModal()" large>
            <ion-icon name="key"></ion-icon>
          </button>
      <button ion-button *ngIf="!isLoggedIn" (click)="loginModal()" large>
        <ion-icon name="log-in"></ion-icon>
      </button>
      <button ion-button (click)="toggleSearchBar()" large>
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-searchbar *ngIf="isSearching" (ionInput)="getItems($event)"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let item of items">
      <button ion-item (click)="editItem($event, item)">
        <div item-start>
          <span class="my-circle my-circle-{{item.name[0].toUpperCase()}}" title="{{ item.name[0].toUpperCase() }}"></span>
        </div>
        <h2>{{ item.name }}</h2>
        <p>{{ item.username }}</p>
      </button>
      <ion-item-options side="right">
        <button ion-button color="danger" (click)="showPassword($event, item)">
          <ion-icon name="key"></ion-icon>
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="addItem()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
