<!--
  Generated template for the EditItemPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>View Item</ion-title>
    <ion-buttons end>
      <button ion-button (click)="removeItem()" large>
        <ion-icon name="trash"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="item.name" value="{{item.name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Website</ion-label>
      <ion-input type="text" [(ngModel)]="item.url" value="{{item.url}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="item.username" value="{{item.username}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="item.password" value="{{item.password}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Last Update</ion-label>
      <ion-input type="text" [(ngModel)]="item.updatedon" value="{{item.updatedon}}"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block (click)="updateItem()"> Update </button>
  </div>
</ion-content>
