<ion-header>
  <ion-navbar>
    <ion-title>Add Item</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label floating>Name</ion-label>
      <ion-input type="text" [(ngModel)]="item.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Website</ion-label>
      <ion-input type="text" [(ngModel)]="item.url"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input type="text" [(ngModel)]="item.username"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input type="password" [(ngModel)]="item.password"></ion-input>
    </ion-item>
  </ion-list>
  <div padding>
    <button ion-button block (click)="saveItem()"> Save </button>
  </div>
</ion-content>
